.homeBox {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    height: 100vh;
    height: 100%;
    width: 100vw;
    width: 100%;
    align-items: center;
}

.homeBox .username{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    align-self: flex-start;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 300px;
    box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
}

.homeBox .incomeCard {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    min-width: 400px;
    min-height: 125px;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    box-shadow:0 1px 2px rgba(0,0,0,0.07),0 2px 4px rgba(0,0,0,0.07),0 4px 8px rgba(0,0,0,0.07),0 8px 16px rgba(0,0,0,0.07),0 16px 32px rgba(0,0,0,0.07),0 32px 64px rgba(0,0,0,0.07);
}

.homeBox .incomeCard .income{
    font-weight: 600;
    font-size: 40px;
}

.homeBox .incomeCard span{
    color: #091323;
    font-size: 50px;
}

.homeBox .username MdAccountCircle {
    background-color: aqua;
}

.homeBox .username span {
    color: #091323;
    font-size: 100%;
}

.homeBox .username .name {
    font-weight: 200;
}

.homeBox .username .ola {
    font-weight: 700;
}
