input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
  
    border-radius: 15px;
    height: 48px;
    width: 275px;
  
    border: 1px solid #091323;
    outline: 0;
    box-shadow: 0;
  }